body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #e0f4f1;
  color: #001219;
}

header {
  background-color: #005f73;
  color: #e0fbfc;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav a {
  color: #e0fbfc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #94d2bd;
}

main {
  padding-top: 5rem; /* Offset for the fixed header */
}

section {
  display: none; /* Initially hide all sections */
  opacity: 0;
  transition: opacity 0.5s ease;
  margin: 2rem auto;
  padding: 4rem 2rem;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section.active {
  display: block; /* Display only the active section */
  opacity: 1;
}

.hero-content {
  background-color: #94d2bd;
  text-align: center;
}

#about {
  background-color: #f0f9fa;
}

#portfolio {
  background-color: #e0fbfc;
}

#contact {
  background-color: #f0f9fa;
}

#project1 {
  background-color: #f0f9fa;
}
