body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #e0f4f1;
  color: #001219;
}

header {
  background-color: #005f73;
  color: #e0fbfc;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav a {
  color: #e0fbfc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  width: 100%;
}

nav a:hover {
  color: #94d2bd;
}

main {
  padding-top: 5rem; /* Offset for the fixed header */
}

section {
  display: none; /* Initially hide all sections */
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for opacity and transform */
  transform: translateY(20px); /* Initial state for transform */
  margin: 2rem auto;
  padding: 4rem 2rem;
  max-width: 900px;
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section.active {
  display: block; /* Display only the active section */
  opacity: 1;
  transform: translateY(0); /* Target state for transform */
}

.centered {
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.project-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
}

/* Section-specific background colors */
.hero-content { background-color: #94d2bd; }
#about, #contact, #project1, #project2, #project3, #project4 { background-color: #f0f9fa; }
#portfolio { background-color: #e0fbfc; }

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.description, .code-block {
  flex: 1;
  margin: 0 10px;
}

.code-block {
  position: relative;
  width: 60%;
  max-height: 300px;
  max-width: 600px;
  overflow: auto;
  font-size: 12px;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 15px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.photo-nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.photo-nav li {
    list-style: none;
    margin: 0 10px;
}

.photo-nav a {
    text-decoration: none;
    color: #005f73;
    font-weight: bold;
}

.photo-nav a:hover {
    color: #94d2bd;
}

.gallery-item {
    display: none;
    text-align: center;
    padding: 20px;
}

.gallery-item.active {
    display: block;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
